.character-img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.character-container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #67f58b;
}

.character-info {
  text-align: left;
  padding-left: 20px;
}
